html,
body {
  height: 100%;
}

body {
  color: var(--default-color);
  font-size: 16px;
  line-height: 26px;

  @extend %inter-regular;
}

.main {
  flex-grow: 1;
}

.body--lock {
  overflow: hidden;
}

.site-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger {
  position: relative;
  z-index: 4;
  display: none;
  align-items: center;
  width: 27px;
  height: 18px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    content: "";
  }

  &::after {
    top: auto;
    bottom: 0;
  }

  &__line {
    transition: ease 0.3s opacity;
  }

  &__line,
  &::before,
  &::after {
    width: 100%;
    height: 3px;
    background-color: var(--default-color);
    transition: ease 0.2s transform, ease 0.2s bottom, ease 0.2s top, ease 0.2s background-color;
  }

  &--active {
    display: flex;

    &::before {
      top: 7px;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 8px;
      transform: rotate(-45deg);
    }

    &::before,
    &::after {
      background-color: var(--default-color);
      transition: ease 0.2s transform, ease 0.2s bottom, ease 0.2s top, ease 0.2s background-color;
    }

    .burger {
      &__line {
        opacity: 0;
        transition: ease 0.3s opacity;
      }
    }
  }
}

.link {
  color: inherit;
  font-size: 14px;
  line-height: 18px;

  @extend %inter-bold;
}

.second-ic {
  width: 25px;
  height: 24px;
  fill: var(--bg-color);
}

.second-link,
.second-btn {
  display: block;
  padding: 13px 22px;
  color: var(--second-color);
  background-color: var(--bg-color);
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

.title,
.second-title {
  color: var(--default-color);
  font-size: 36px;
  line-height: 50px;

  @extend %inter-bold;
}

.second-title {
  color: var(--second-color);
}

.basket {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  margin-right: 55px;

  &__link {
    position: relative;
    display: block;
    padding-right: 36px;
    line-height: 0;

    &::after {
      position: absolute;
      top: -50%;
      right: 18px;
      width: 1px;
      height: 44px;
      background-color: var(--primary-color);
      content: "";
    }
  }

  &__ic {
    width: 25px;
    height: 24px;
    fill: var(--bg-color);
  }

  &__num {
    color: var(--bg-color);
    font-size: 14px;
    line-height: 16px;
  }
}

.contact-link {
  position: relative;
  display: block;
  padding-left: 42px;
  color: var(--default-color);
  font-size: 24px;
  line-height: 30px;

  @extend %inter-semibold;

  &::before {
    position: absolute;
    top: 4px;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("@img/icons/multi/spriteMulti.svg#tel");
    background-repeat: no-repeat;
    content: "";
  }
}

.disabled {
  color: var(--primary-color) !important;
}

.slider {
  padding: 19px;

  &__container {
    position: relative;
    margin: 0 -19px;
  }

  &__pagination {
    display: none;
  }

  &__btn-prev,
  &__btn-next {
    top: 48.5%;
    width: 56px;
    height: 56px;
    background-color: var(--bg-color);
    border-radius: 50%;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 27px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: 100%;
      transform: translate(-50%, -45%);
      content: "";
    }
  }

  &__btn-prev {
    left: -91px;
    z-index: 10;

    &::after {
      background-image: url("@img/icons/multi/spriteMulti.svg#angle-prev");
    }
  }

  &__btn-next {
    right: -91px;
    z-index: 10;

    &::after {
      background-image: url("@img/icons/multi/spriteMulti.svg#angle-next");
    }
  }

  &__slide {
    display: flex;
    height: auto;
  }
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 285px;
  padding: 36px 25px 20px;
  color: inherit;
  background-color: #f9f9f9;
  border-radius: 30px;

  &__imgbox {
    flex: 1 1 auto;
    margin: 0 auto 35px;
  }

  &__title {
    margin-bottom: 6px;
    line-height: 19px;

    @extend %inter-medium;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    color: #6c6c6c;
    font-size: 14px;

    @extend %inter-medium;
  }

  &__btn {
    line-height: 0;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.modal {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: 560px;
  height: auto;
  max-height: 90vh;
  padding: 80px;
  overflow-y: auto;
  background-color: var(--second-color);
  border-radius: 30px;

  &__close {
    position: absolute;
    top: 31px;
    right: 31px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__close-ic {
    width: 14px;
    height: 14px;
  }

  &__tabs {
    display: flex;
    margin-bottom: 44px;
  }

  &__tabs-btn {
    width: 50%;
    padding: 0;
    padding-bottom: 17px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--primary-color);
    cursor: pointer;

    @extend %inter-bold;

    &.active {
      color: var(--bg-color);
      border-color: var(--bg-color);
      pointer-events: none;
    }
  }

  .simplebar-track.simplebar-vertical {
    top: 10px;
    right: 5px;
    bottom: 10px;
    width: 11px;
  }
}

.modal-overlay--visible {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.popup-form {
  display: none;

  &.active {
    display: block;
  }
}

.form {
  &__label {
    display: block;
    margin-bottom: 25px;
    cursor: pointer;
  }

  &__text {
    display: block;
    margin-bottom: 10px;

    @extend %inter-medium;
  }

  &__input,
  &__box-text {
    width: 100%;
    height: 60px;
    padding: 0 19px;
    background: #f7f7f7;
    border: 1px solid var(--primary-color);
    border-radius: 8px;

    &::placeholder {
      color: #c2c2c2;
    }
  }

  &__box-text {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    color: #c2c2c2;
    white-space: nowrap;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 134px;
      height: 100%;
      color: var(--second-color);
      background-color: var(--bg-color);
      border-radius: 0 8px 8px 0;
      content: "Загрузить";
    }
  }

  &__box-checkbox {
    position: relative;
    padding-left: 34px;
    pointer-events: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-color: #f6f6f6;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 11px 8px;
      border: 1px solid var(--primary-color);
      border-radius: 5px;
      content: "";
    }
  }

  &__box-input {
    @extend %element-hidden;

    &:checked + .form__box-checkbox {
      &::before {
        background-image: url("@img/icons/multi/spriteMulti.svg#angle-check");
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__selectbox {
    position: relative;

    &::after {
      position: absolute;
      top: 50%;
      right: 18px;
      width: 15px;
      height: 16px;
      background-image: url("@img/icons/multi/spriteMulti.svg#angle-down");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transform: translateY(-50%);
      content: "";
      pointer-events: none;
    }
  }

  &__select {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 19px;
    color: #c2c2c2;
    text-indent: 1px;
    text-overflow: "";
    text-shadow: none;
    background: #f7f7f7;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &__option {
    color: var(--default-color);
    background-color: var(--second-color);
  }

  &__btn {
    padding: 13px 55px;
  }

  &__popup-btn {
    padding: 0;
    color: var(--bg-color);
    font-size: 16px;

    @extend %inter-medium;
  }
}

.recovery-modal {
  &__text {
    width: 100%;
    margin-bottom: 40px;
    color: var(--default-color);
    text-align: center;
    border-color: var(--bg-color);
    cursor: default;
  }
}

.support-modal {
  padding: 0;

  &__text {
    padding: 50px 80px;
    color: var(--second-color);
    font-size: 18px;
    background-color: var(--bg-color);
  }

  &__inner {
    padding: 80px;
  }

  &__ic {
    fill: var(--second-color);
  }
}
