html,
body {
  height: 100%;
}

body {
  color: var(--default-color);
  font-size: 16px;
  line-height: 26px;

  @extend %inter-regular;
}

.main {
  flex-grow: 1;
}

.body-lock {
  overflow: hidden;
}

.o-sec {
  padding: 50px 0;
}

.site-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  @extend %inter-bold;
}

.title {
  color: var(--default-color);
  font-size: 36px;
  line-height: 50px;

  @extend %inter-bold;
}

.basket {
  display: flex;
  align-items: center;
  margin-right: 53px;

  &__link {
    position: relative;
    display: block;
    padding-right: 36px;
    line-height: 0;

    &::after {
      content: '';
      position: absolute;
      top: -50%;
      right: 18px;
      height: 44px;
      width: 1px;
      background-color: var(--primary-color);
    }
  }

  &__ic {
    width: 25px;
    height: 24px;
    fill: var(--bg-color);
  }

  &__num {
    font-size: 14px;
    line-height: 16px;
    color: var(--bg-color);
  }
}

.contact-link {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
  padding-left: 42px;
  color: var(--default-color);
  @extend %inter-semibold;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 24px;
    height: 24px;
    background-image: url('@img/icons/multi/spriteMulti.svg#tel');
    background-repeat: no-repeat;
  }
}

.disabled {
  color: var(--primary-color) !important;
}

.slider {
  padding: 20px;

  &__container {
    position: relative;
    margin: 0 -20px;
  }

  &__btn-prev,
  &__btn-next {
    width: 56px;
    height: 56px;
    background-color: var(--bg-color);
    border-radius: 50%;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -45%);
      background-size: 100%;
      background-repeat: no-repeat;
      width: 21px;
      height: 22px;
    }
  }

  &__btn-prev {
    left: -53px;
    z-index: 10;
    &::after {
      background-image: url('@img/icons/multi/spriteMulti.svg#angle-prev');
    }
  }

  &__btn-next {
    right: -53px;
    z-index: 10;
    &::after {
      background-image: url('@img/icons/multi/spriteMulti.svg#angle-next');
    }
  }

  &__slide {
    display: flex;
    height: auto;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 36px 25px 25px;
  max-width: 285px;
  border-radius: 30px;
  background-color: #f9f9f9;
  color: inherit;

  &:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

    .card__btn {
      opacity: 1;
      visibility: visible;
      cursor: pointer;
      &:hover {
        .card__btn-ic {
          fill: var(--default-color);
        }
      }
    }
  }

  &__imgbox {
    margin: 0 auto 35px;
    flex: 1 1 auto;
  }

  &__title {
    margin-bottom: 11px;
    line-height: 19px;
    @extend %inter-medium;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-size: 14px;
    color: #6c6c6c;
    @extend %inter-medium;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    line-height: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    opacity: 0;
    visibility: hidden;
  }

  &__btn-ic {
    width: 25px;
    height: 24px;
    fill: var(--bg-color);
  }
}