:root {
  --default-color: #000;
  --second-color: #fff;
  --primary-color: #e9e9e9;
  --bg-color: #d10931;
}

@mixin text-hover($color: var(--bg-color),) {
  color: $color;
  transition: ease 0.3s color;
}

@mixin text-hover-trs {
  transition: ease 0.3s color;
}

@mixin ic-hover($ic-color: var(--default-color),) {
  transition: ease 0.3s fill;
  fill: $ic-color;
}

@mixin ic-hover-trs {
  transition: ease 0.3s fill;
}

@mixin link-hover {
  color: var(--second-color);
  background-color: var(--default-color);
  transition: ease 0.3s background-color, ease 0.3s color;
}

@mixin link-hover-trs {
  transition: ease 0.3s background-color, ease 0.3s color;
}

%inter-regular {
  font-weight: 400;
  font-family: "Inter-regular", sans-serif;
}

%inter-medium {
  font-weight: 500;
  font-family: "Inter-medium", sans-serif;
}

%inter-semibold {
  font-weight: 600;
  font-family: "Inter-semiBold", sans-serif;
}

%inter-bold {
  font-weight: 700;
  font-family: "Inter-Bold", sans-serif;
}

%bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%element-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@mixin laptop-L {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin tablet-L {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 630px) {
    @content;
  }
}

@mixin portrait-phones {
  @media (max-width: 530px) {
    @content;
  }
}

@mixin mobile-L {
  @media (max-width: 425px) {
    @content;
  }
}
