@import "vars";
@import "fonts";
@import "reset";
@import "../../node_modules/simplebar/dist/simplebar.min";
@import "global";
@import "components/header";
@import "components/footer";

.basket-page {
  padding: 50px 0;

  &__items {
    padding-bottom: 58px;
    border-bottom: 1px solid var(--primary-color);
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px 55px;
    background-color: #f9f9f9;
    border-radius: 30px;
  }

  &__img {
    width: 57px;
    height: 72px;
    margin-right: 52px;
  }

  &__caption {
    flex: 1 1 auto;
    margin-right: 20px;

    @extend %inter-semibold;
  }

  &__price {
    display: block;
    margin-right: 96px;

    @extend %inter-bold;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__box-count {
    margin-bottom: 5px;
  }

  &__box-count,
  &__box-summ {
    display: block;
  }

  &__box-summ {
    @extend %inter-bold;
  }
}

@import "media";
